.chapterSwitcher {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: rgba(20, 29, 158, 0.8);
  color: white;
  user-select: none !important;
  top: 0; /* Располагаем у верхнего края */
  position: sticky; /* Прилепляем к верхнему краю страницы */
  z-index: 10; /* Устанавливаем приоритет по отображению над другими элементами */

  .chapterItem {
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }

    &.active {
      background-color: rgba(255, 255, 255, 0.3);
      font-weight: bold;
    }
  }
}
.mobileHeading{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
}
.mobileHeader{
  font-size: 300%;
  padding-right: 100px;
}
