.chapterSwitcher {
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-width: 170px;
  background-color: rgba(20, 29, 158, 0.8);
  color: white;
  user-select: none !important;
  top: 0;
  position: sticky;
  z-index: 10;

  .chapterItem {
    display: flex;
    flex-direction: column;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
    align-items: flex-start;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }

    &.active {
      background-color: rgba(255, 255, 255, 0.3);
      font-weight: bold;
    }
  }
}

.mobileHeading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
}

.mobileHeader {
  width: 60%;
  font-size: 300%;
  padding-left: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
}
