.page {
  text-align: initial;
  justify-content: initial;
  align-items: initial;
  padding: 10px 20px;
  font-family: Arial, sans-serif;
  min-width: 360px;
  min-height: 1400px;
  line-height: 1.6;
  color: whitesmoke;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  user-select: none !important;
  position: relative; /* Для позиционирования вложенных элементов */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2); /* Полупрозрачный черный фон */
  z-index: 1; /* Обеспечиваем, чтобы плашка была ниже текста */
}

.content {
  position: relative; /* Делаем так, чтобы контент отображался выше плашки */
  z-index: 2; /* Текст будет поверх плашки */
  padding-bottom: 100px; /* Оставляем место для лицензии */
}

.license {
  position: absolute; /* Закрепляем лицензию внизу страницы */
  bottom: 20px; /* Отступ от нижнего края */
  left: 0;
  right: 0;
  text-align: center;
  font-size: 14px;
  color: #cccccc;
  z-index: 2; /* Убедимся, что лицензионный текст выше плашки */

  a {
    color: #ffcc00;
    text-decoration: none;
    user-select: all;

    &:hover {
      text-decoration: underline;
    }
  }
}